langchain
langgraph
langchain-community

unstructured
pypdf
tqdm

faiss-cpu
sentence-transformers

openai                  
streamlit
networkx
pyvis

python-dotenv
openai-whisper                
edge-tts                      
grandalf                 

audio-recorder-streamlit

streamlit-mic-recorder